<div class="title__container">
  <h1 class="h1">Rick and Morty</h1>
  <div>
    <h3 class="h3">Hey, did you ever want to hold a Terry fold?</h3>
  </div>
</div>
<div class="app">
  <article class="app__card" *ngFor="let element of elements">
    <div class="app__card__header">
      <img class="image" src="{{ element.image }}" alt="{{ element.name }}">
      <h5 class="h5">{{ element.name }}</h5>
    </div>
    <div class="app__card__main">
      <div class="app__card__element">
        <div class="app__card__row app__card__row--title">STATUS</div>
        <div class="app__card__row">{{ element.status }}</div>
      </div>
      <div class="app__card__element">
        <div class="app__card__row app__card__row--title">SPECIES</div>
        <div class="app__card__row">{{ element.species }}</div>
      </div>
      <div class="app__card__element">
        <div class="app__card__row app__card__row--title">GENDER</div>
        <div class="app__card__row">{{ element.gender }}</div>
      </div>
      <div class="app__card__element">
        <div class="app__card__row app__card__row--title">ORIGIN</div>
        <div class="app__card__row">{{ element.origin.name }}</div>
      </div>
      <div class="app__card__element">
        <div class="app__card__row app__card__row--title">LAST LOCATION</div>
        <div class="app__card__row">{{ element.location.name }}</div>
      </div>
    </div>
  </article>
</div>
