@import '../styles/variables';

.title__container {
  margin-bottom: 1vw;
  text-align: center;
  text-transform: uppercase;

  .h1 {
    font-size: 3rem;
    line-height: .7;
    margin-bottom: 0;
  }

  .h3 {
    color: $orange-text;
    display: inline-block;
    margin: 0;
    padding: 0 .694vw;
    position: relative;

    &::before {
      background-color: $dark-background;
      bottom: 0;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform: skew(-.06turn, 0);
      width: 100%;
      z-index: -1;
    }
  }
}

.app {
  align-content: center;
  background-color: $dark-background;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  padding: .694vw;

  &__card {
    background-color: $card-background;
    border-radius: 3%;
    box-shadow: $card-shadow;
    margin: .347vw;
    padding: .694vw;
    width: calc(33% - .694vw);

    &__header {
      position: relative;

      .image {
        width: 100%;
      }

      .h5 {
        background-color: rgba($dark-background, .5);
        bottom: 0;
        color: $light-text;
        font-size: 1.5rem;
        left: 0;
        margin: auto;
        padding: .694vw;
        position: absolute;
        right: 0;
        width: 100%;
      }
    }

    &__main {
      height: 100%;
    }

    &__element {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: .694vw 0;

      &:not(:last-child) {
        border-bottom: 1px solid $light-text;
      }
    }

    &__row {
      color: $orange-text;
      flex-basis: 50%;
      text-align: right;
      width: 50%;

      &--title {
        color: $light-text;
        text-align: left;
      }
    }
  }
}
